$font-title: 'Rubik', sans-serif;
$font-text: 'Roboto', sans-serif;

$blue-principal: #3B556B;
$blue-altern: #ADC1E5;
$white-smoke: #FAF9F5;

body {
  margin: 0;
  font-family: $font-text;
}

.home__header {
  margin-top: 5px;
  max-width: 100%;
  text-align: center;
}

.home__header img {
  max-height: 50px;

}

.home__banner {
  max-width: 100%;
  margin-top: 10px;
}

.home__banner img {
  width: 100%;
  max-height: 200px;
}